@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-hover: #1565c0;
  --color-primary-base: #0d47a1;
  --color-primary-active: #0a3a82;

  /* Error */
  --color-error-hover: #fef2f2;
  --color-error-base: #fb2c36;
  --color-error-active: #c62828;
}
