@import "tailwindcss";

@theme {
  /* Primary (Slate) */
  --color-primary-hover: #334155;
  --color-primary-base: #1e293b;
  --color-primary-active: #0f172a;
  --color-primary-surface: #cce8e5;

  /* Accent (Teal) */
  --color-accent-hover: #2a9d96;
  --color-accent-base: #1c857e;
  --color-accent-active: #166d67;

  /* Success */
  --color-success-hover: #10b981;
  --color-success-base: #059669;
  --color-success-active: #047857;

  /* Error */
  --color-error-hover: #ef4444;
  --color-error-base: #dc2626;
  --color-error-active: #b91c1c;
}
