services:
  db:
    container_name: datti-db
    ports:
      - 5432:5432
    image: postgres:16
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: datti
      TZ: Asia/Tokyo
  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - 16686:16686
      - 4318:4318
    environment:
      - LOG_LEVEL=debug
  localstack:
    container_name: datti-localstack
    image: localstack/localstack:latest
    ports:
      - 4566:4566
    environment:
      - SERVICES=dynamodb,s3
      - DEBUG=0
      - AWS_DEFAULT_REGION=ap-northeast-1
    volumes:
      - localstack-data:/var/lib/localstack

volumes:
  localstack-data:
