services:
  db:
    container_name: datti-db
    ports:
      - 5432:5432
    image: postgres:16
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: datti
      TZ: Asia/Tokyo
  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - 16686:16686
      - 4318:4318
    environment:
      - LOG_LEVEL=debug
  firebase-emulator:
    container_name: datti-firebase-emulator
    build:
      context: ./firebase
      dockerfile: Dockerfile
    ports:
      - 9099:9099
      - 4000:4000
    working_dir: /opt/firebase
