services:
  db:
    container_name: datti-db
    ports:
      - 5432:5432
    image: postgres:16
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: datti
      TZ: Asia/Tokyo
  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - 16686:16686
      - 4318:4318
    environment:
      - LOG_LEVEL=debug
  dynamodb:
    container_name: datti-dynamodb
    image: amazon/dynamodb-local
    ports:
      - 8000:8000
    command: -jar DynamoDBLocal.jar -sharedDb
