# fly.toml app configuration file generated for datti-api-dev on 2024-01-30T23:36:04+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'datti-api-dev'
primary_region = 'nrt'

[env]
  FLY_REGION="nrt"

[build]
  dockerfile = "./../dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
